@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-color: #eceded;
  --color-text: #22243b;
}

* {
  trasition: all 0.3s ease-in;
}

body {
  font-family: Nunito;
  color: var(--color-text);
  @apply text-base;
}

.grid-image-0 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
}

.grid-image-1 {
  grid-column: 5 / span 2;
  grid-row: 1 / span 4;
}

.grid-image-2 {
  grid-column: 7 / span 2;
  grid-row: 1 / span 4;
}

.grid-image-3 {
  grid-column: 1 / span 4;
  grid-row: 5 / span 4;
}

.grid-image-4 {
  grid-column: 5 / span 2;
  grid-row: 5 / span 4;
}

.grid-image-5 {
  grid-column: 7 / span 2;
  grid-row: 5 / span 4;
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.nav_items {
  height: 100%;
  transition: all 120ms linear;
}

.nav_items:hover {
  scale: 1.05;
  font-weight: bold;
}

/* -----Filters---- */
.filters {
  border-bottom: 1px solid var(--border-color);
}

.filter_section {
}

.filter_form {
  border: 1px solid var(--border-color);
  width: fit-content;
}

.filter_form_items {
  margin: 0.3rem;
  padding: 0.2rem 0.5rem;
  border-right: 1px solid var(--border-color);
  width: 12rem;
}

.filter_label {
  font-weight: 600;
}

.filter_input {
}

.filter_input:focus {
  outline: none;
}

.filter_form_btn {
  position: relative;
}

.filter_form_btn_link {
  position: relative;
  left: 1.8rem;
}

.filter_search_icon {
  /* color: red; */
}

.filter_icons:hover {
  /* scale: 1.1; */
  /* border-bottom: 0.4rem solid #eceded; */
  /* text-decoration: underline; */
  opacity: 1;
  cursor: pointer;
}

.filter_btn_container {
  position: relative;
}

.filter_btn {
  border: 1px solid var(--border-color);
  position: relative;
  left: 2rem;
  transition: all 120ms linear;
}

.filter_btn:hover {
  scale: 1;
}

/* -----Card----- */
/* .cards::-webkit-scrollbar {
  display: none;
  @apply overflow-scroll;
} */

.cards:hover {
  cursor: pointer;
}

.cards_left {
  overflow-y: unset;
}

.cards_left:hover {
  overflow-y: scroll;
}

.cards_detailmode {
  /* overflow: auto; */
}

.card:hover {
  background-color: var(--border-color);
}

.card_img {
  /* @apply w-32 h-32 sm:w-48 sm:h-48 md:w-64 md:h-64 lg:w-80 lg:h-80; */
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  object-position: center;
}

/* -----CardDetail----- */
.card_detail::-webkit-scrollbar {
  display: none;
  /* @apply overflow-scroll; */
}

.card_detail_options:hover {
  cursor: pointer;
  scale: 1.05;
}

.card_detail_options.selected {
  @apply font-bold;
}

.card_detail_input {
}

.display_btn {
  transform: rotate(180deg);
}

.slide-container {
  /* background-color: grey; */
}

.slide_bg {
  height: 24rem;
  background-position: 50% 50%;
}

.slide span {
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  /* background: rgba(141, 174, 224, 0.5); */
  text-align: center;
  position: relative;
  top: 90%;
}

/* -----Account create----- */
.account_create_container {
  width: 50%;
}

.account_create_form {
}

.account_create_input {
  @apply w-80 p-1;
}

/* -----Login----- */
.login_container {
  width: 30%;
}
.login_form {
  height: 55%;
}

.login_input {
}

/* -----footer----- */
.footer {
  background-color: #f7f7f7;
}

.rbc-time-view {
  @apply rounded-xl;
}

.rbc-today {
  @apply bg-white;
}
.rbc-month-view {
  @apply rounded-xl;
}

.rbc-header {
  @apply border-none;
}

.rbc-current-time-indicator {
  @apply border-2 border-white;
}

.rbc-time-column {
  @apply h-[2500px] border-none;
}

.rbc-timeslot-group {
  @apply border-none;
}

.rbc-time-content {
  @apply border;
}

.rbc-label {
  @apply text-gray-400;
}

.rbc-event-label {
  @apply text-wrap;
}

.rbc-event {
  padding: 4px;
  border: none !important;
  border-radius: 0;
  background: #84e987;
  outline: none !important;
  width: 100% !important;
}

.rbc-events-container {
  margin-right: 0 !important;
}

.modal-show {
  display: block;
}

.modal-hide {
  display: none;
}

.fc-event {
  @apply border-2;
}

.popover {
  max-width: 100%; /* Max Width of the popover (depending on the container!) */
  max-height: 100%;
  @apply z-0;
}

.popover-body {
  width: 400px;
}

.MuiStack-root {
  @apply border-2 rounded-xl;
}

.Mui-selected {
  background: #000 !important;
}

.fc-day-today {
  background-color: inherit !important;
}
