@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GothicA1-Light"; /*Can be any text*/
  src:
    local("GothicA1"),
    url("./assets/fonts/GothicA1-Light.ttf") format("truetype");
}

body {
  font-family: GothicA1-Light, serif;
  color: #192d58;
  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 4px 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-left-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 90px;
}

.app-logo {
  display: flex;
  align-items: center;
  width: 100px;
  height: 50px;
}

.nav-tag-container {
  padding: 4px;
  display: flex;
  gap: 45px;
}

.nav-tag-item {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
}

.nav-tag-item > div {
  opacity: 65%;
}

.nav-tag-item:hover {
  background: #f3f4f6;
}

.nav-icon-container {
  display: flex;
  padding: 4px;
  gap: 30px;
  align-items: center;
}

.nav-icon-item {
  width: 25px;
  height: 25px;
}

.user-profile-icon-container {
  position: relative;
  background: #dbdcdd;
  border-radius: 9999px;
  width: 100%;
  height: 100%;
}

.user-profile-icon {
  color: white;
  position: absolute;
  left: 4px;
  top: 9px;
}

.filter-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px;
}

.filter-container {
  display: flex;
  margin: 30px 125px;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.filter-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filter-bar-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-bar-item-label {
  display: flex;
  gap: 4px;
  font-weight: bold;
}

.filter-bar-item-input {
}

.filter-bar-item-input > input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  width: 250px;
}

.filter-bar-item-input > input:hover {
  outline: #0c8cea solid 1px;
}

.filter-bar-item-input > input:focus {
  outline: #0c8cea solid 1px;
}

#capacity {
  width: 200px;
}

#filter-search-button {
  margin-top: 25px;
  padding: 8px;
  color: #0c8cea;
  font-weight: bold;
  background: #ecf6fb;
  border-radius: 15px;
  border: 1px solid #0c8cea;
}

.filter-icons-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 15px 125px;
}

.filter-icons-item {
  padding: 8px;
  display: flex;
  flex: 1 1 0;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  border: 1px solid transparent;
}

.filter-icons-item:hover {
  background: #ecf6fb;
  color: #0c8cea;
  border-radius: 10px;
  border: 1px solid #0c8cea;
}

.dropdown-container {
  display: flex;
  gap: 8px;
  padding: 20px;
  flex-direction: column;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background: white;
  position: absolute;
  top: 80px;
  border-radius: 10px;
  width: 400px;
  white-space: nowrap;
}

.dropdown-left-item {
  display: flex;
  gap: 8px;
  padding: 3px;
}

.dropdown-item-text-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.dropdown-item-subtitle {
  font-size: smaller;
  opacity: 65%;
  border: 1px solid transparent;
}

.dropdown-item-subtitle:hover {
  align-self: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.dropdown-item-title {
  font-weight: 900;
}

.dropdown-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.distance-tag {
  margin-right: 20px;
  align-self: center;
  padding: 1px 15px;
  background: #ddfde6;
  color: #3b9f57;
  font-weight: bolder;
  border-radius: 15px;
  border: 1px solid #3b9f57;
  font-size: small;
}

.location-icon {
  margin-top: 4px;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 20px;
}
.title-skeleton {
  width: 150px;
  height: 15px;
}

.subtitle-skeleton {
  width: 125px;
  height: 10px;
}

.distance-tag-skeleton {
  width: 59px;
  height: 23px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.left-item-skeleton {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.dropdown-item-skeleton-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skeleton-container {
  display: flex;
  gap: 25px;
  padding: 30px 40px;
  flex-direction: column;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background: white;
  position: absolute;
  top: 80px;
  border-radius: 10px;
  width: 400px;
  white-space: nowrap;
}

.cards-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-flow: row;
  gap: 30px;
}

.card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-info-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 4px;
}

.card-image > img {
  border-radius: 10px;
}

.cards-item:hover {
  background: #f3f4f6;
}

.card-info-name-container {
  display: flex;
  gap: 8px;
}

.school-logo {
  margin-top: 2px;
}

.card-info-name {
  font-weight: bolder;
}

.card-info-library {
  font-size: smaller;
  opacity: 65%;
  padding-left: 25px;
}

.card-info-org {
  font-size: x-small;
  opacity: 65%;
  padding-left: 25px;
}

.card-info-capacity {
  font-weight: bolder;
}

.card-info-cap-container {
  display: flex;
  gap: 8px;
}

.people-logo {
  margin-top: 2px;
  font-size: large;
}

.card-container-skeleton {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-image-skeleton {
  width: 100%;
  height: 165px;
  border-radius: 10px;
}

.card-info-name-skeleton {
  width: 209px;
  height: 15px;
}

.card-info-library-skeleton {
  width: 150px;
  height: 10px;
}

.card-info-container-skeleton {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-info-org-skeleton {
  width: 100px;
  height: 5px;
}

.card-info-capacity-skeleton {
  width: 110px;
  height: 15px;
}

.card-info-wrapper-skeleton {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards-container-skeleton {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-flow: row;
  gap: 30px;
  padding: 25px;
}

.icon-focus {
  background: #ecf6fb;
  color: #0c8cea;
  border-radius: 10px;
  border: 1px solid #0c8cea;
}

.datepicker-container {
  position: absolute;
  top: 80px;
  background: white;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.filter-tag-item {
  display: inline-block;
  background: #ecf6fb;
  color: #0c8cea;
  padding: 4px 6px 4px 10px;
  border-radius: 20px;
  border: 1px solid #0c8cea;
}

.filter-tag-item-container {
  display: flex;
  gap: 8px;
}

.cancel-icon {
  margin-top: 4px;
  margin-left: 2px;
}

